/*

filename: [your name]

author: [Minh Tran]

created: [23/03/2026]

last modified: [enter date]

description: [Lab04]

*/
 * { font-family: calibri, sans-serif; }     

 * { color: #2F4F4F;}

h1 { 
    color: purple; 
    font-size: 2em; 
    font-weight: bold; 
}

h2 {
    color: rgb(0,128,128);
    font-size: 1.5em;
}

 aside, footer { font-style: italic; } 

h1,h2,h3 {font-family: Arial, sans-serif;}